<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  
  <!--如何发邮件需要Gmail-->
  <!--<system.net>
    <mailSettings>
      <smtp from="simonyuqiao@gmail.com"/>
    </mailSettings>
  </system.net>-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host= "smtp.gmail.com" port="587" userName="gohungry.efood@gmail.com" password="aspisawesome" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Menu_Type.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewLocalSqlServer" connectionString="data source=(LocalDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"/>
    </authentication>
    <membership defaultProvider="NewAspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="NewAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="NewLocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="NewAspNetSqlProfileProvider">
      <properties>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="BirthDay" type="DateTime"/>
        <group name="Address">
          <add name="Street" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="Zip" type="String"/>
          <add name="Country" type="String"/>
        </group>
      </properties>
      <providers>
        <clear/>
        <add name="NewAspNetSqlProfileProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="NewAspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="NewLocalSqlServer" applicationName="/" name="NewAspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
  </system.web>
  <!--添加较色关系，允许较色进入，或者屏蔽较色进入
  只有Admin和user可以Logan in Admin.aspx-->
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/> <!--deny 所有其他较色-->
      </authorization>
    </system.web>
  </location>
  <!--只有Admin和user可以Logan in User.aspx-->
  <location path="User.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, User"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="TableReservation.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, User"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="HomeAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="AdimanAd.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Inventory.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="TableReservationAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>